<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Aceptación y Firma de Hoja de Encargo</title>
</head>
<body>
<p>Estimado/a {{FIRST_NAME}},</p>
<p>Le confirmamos que la Hoja de Encargo ha sido firmada por todos los integrantes de la misma.</p>
<p>Le adjuntamos una copia de la misma con las firmas incluidas.</p>
<p><strong>Si no reconoce esta operación</strong>, contacte de inmediato con
    <a href="mailto:derecho@ocanabogados.es">derecho@ocanabogados.es</a>
    o llame al <b>+34 644 993 593.</b></p>

<hr>

<p><strong>Gracias por confiar en nuestro Despacho de Abogados</strong></p>
<hr>
<p><strong>Ocaña Abogados</strong><br>
    Tfn. +34 644 993 593<br>
    Dirección: Paseo de la Castellana 93 - 2ª</p>
</body>
</html>
